// // .port-text {
// //   padding: 2rem 0;
// //   text-align: center;
// // }

// // .projects {
// //   display: grid;
// //   grid-template-columns: repeat(3, 1fr);
// //   grid-gap: 2rem;
// //   margin-top: 3rem;
// //     .project-item {
// //     position: relative;
// //     border-radius: 15px;
// //     img {
// //         width: 100%;
// //         height: 300px;
// //         object-fit: cover;
// //         border-radius: 15px;
// //         &:hover{

        
// //             width: 100%;
// //             height: 90%;
// //             background-color: #800008;
// //             position: absolute;
// //             left: 0;
// //             top: 0;
// //             border-radius: 15px;
// //             // display: flex;
// //             // justify-content: center;
// //             // align-items: center;
// //             // flex-direction: column;
// //             opacity: 0;
// //             transform: scale(0);
// //             transition: fadeOut 0.4s;
        
// //         }
// //     }

    
    
// //     }

// // }


// // .projects .project-item .hover-items h3 {
// //   font-size: 1.5rem;
// //   color: var(--color-white);
// //   margin-bottom: 1.5rem;
// // }
// // .projects .project-item .hover-items .icons {
// //   display: flex;
// //   justify-content: center;
// //   align-items: center;
// // }
// // .projects .project-item .hover-items .icons .icon {
// //   background-color: var(--color-primary);
// //   border-radius: 50%;
// //   width: 50px;
// //   height: 50px;
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// //   margin: 0 1rem;
// //   cursor: pointer;
// //   transition: all 0.4s ease-in-out;
// // }
// // .projects .project-item .hover-items .icons .icon i {
// //   font-size: 1.5rem;
// //   color: var(--color-white);
// //   margin: 0 1rem;
// // }
// // .projects .project-item .hover-items .icons .icon:hover {
// //   background-color: var(--color-white);
// // }
// // .projects .project-item .hover-items .icons .icon:hover i {
// //   color: var(--color-primary);
// // }

// // .project-item:hover .hover-items {
// //   opacity: 1;
// //   transform: scale(1);
// // }
// .project-item {
//     position: absolute;
    
//         top: 100px;
        
//     .default {
//     /* Make sure the default image is visible by default */
//     display: block;
//     img{
//         width: 300px;
//         height: 200px;
//         object-fit: cover;
//         border-radius: 15px;
//     }
//   }

//   .hover {
//     /* Initially hide the hover content */
//     display: none;
//     position: absolute;
//     top: 0;
//     left: 0;
//     .color-block {
//         object-fit: cover;
//         border-radius: 15px;
//     width: 300px;
//     height: 200px;
//       background-color: #ff0000;
//     }
//   }

//   /* Show the hover content when the user hovers over the container */
//   &:hover {
//     .hover {
//         display: block;
//     }

//     /* Hide the default image when the user hovers over the container */
//     .default {
//       display: none;
//     }
//   }
// }
.projects{
    .project-item-1{
        
        .image{
            display: block;
            position: absolute;
            top: 100px;
            left: -450px;
            img{
                
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
                &:hover{
                    opacity: 0;
                }
            }
        }
        .hover{
            position: absolute;
                top: 100px;
                left: -450px;
            display: block;
            .color-block{
                top:0px;
                width: 300px;
                height: 200px;
                background-color: #008cff;
                border-radius: 15px;
                text-align: center;
                
                    .title{
                        padding-top: 5px;
                        font-size: 20px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: #f5f1ed;
                    }
                    .subtext{
                        font-size: 16px;
                        color: #f5f1ed;
                    }
                
                h3{
                    font-size: 16px;
                    text-align: left;
                    padding-top: 0px;
                    padding-left: 18px;
                    color: #f5f1ed;
                    a{
                        padding-top: 5px;
                        padding-right: 10px;
                        display: inline;
                        font-size: 30px;
                        line-height: 16px;
                        
                    svg{
                        color: #4d4d4e;
                        }

                    }
                }
                
                opacity: 0;
                &:hover{
                    
                    animation: fade 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes fade {
                    0% {
                        opacity: 0%;
                    }
                    100% {
                        opacity: 100%;
                    }
                    }
                }
                &:not(:hover){
                    animation: fadeOut 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    .project-item-2{
        
        .image{
            display: block;
            position: absolute;
            top: 100px;
            left: -50px;
            img{
                
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
                &:hover{
                    opacity: 0;
                }
            }
        }
        .hover{
            position: absolute;
                top: 100px;
                left: -50px;
            display: block;
            .color-block{
                top:0px;
                width: 300px;
                height: 200px;
                background-color: #008cff;
                border-radius: 15px;
               text-align: center;
                
                    .title{
                        padding-top: 5px;
                        font-size: 20px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: #f5f1ed;
                    }
                    .subtext{
                        font-size: 16px;
                        color: #f5f1ed;
                    }
                
                h3{
                    font-size: 16px;
                    text-align: left;
                    padding-top: 0px;
                    padding-left: 18px;
                    color: #f5f1ed;
                    a{
                        padding-top: 5px;
                        display: block;
                font-size: 30px;
                line-height: 16px;
                svg{
                    color: #4d4d4e;
                }
                    }
                }
                
                opacity: 0;
                &:hover{
                    
                    animation: fade 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes fade {
                    0% {
                        opacity: 0%;
                    }
                    100% {
                        opacity: 100%;
                    }
                    }
                }
                &:not(:hover){
                    animation: fadeOut 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    .project-item-3{
        
        .image{
            display: block;
            position: absolute;
            top: 100px;
            left: 350px;
            img{
                
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
                &:hover{
                    opacity: 0;
                }
            }
        }
        .hover{
            position: absolute;
                top: 100px;
                left: 350px;
            display: block;
            .color-block{
                top:0px;
                width: 300px;
                height: 200px;
                background-color: #008cff;
                border-radius: 15px;
                text-align: center;
                
                    .title{
                        padding-top: 5px;
                        font-size: 20px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: #f5f1ed;
                    }
                    .subtext{
                        font-size: 16px;
                        color: #f5f1ed;
                    }
                
                h3{
                    font-size: 16px;
                    text-align: left;
                    padding-top: 0px;
                    padding-left: 18px;
                    color: #f5f1ed;
                    a{
                        padding-top: 5px;
                        display: block;
                font-size: 30px;
                line-height: 16px;
                svg{
                    color: #4d4d4e;
                }
                    }
                }
                
                opacity: 0;
                &:hover{
                    
                    animation: fade 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes fade {
                    0% {
                        opacity: 0%;
                    }
                    100% {
                        opacity: 100%;
                    }
                    }
                }
                &:not(:hover){
                    animation: fadeOut 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    .project-item-4{
        
        .image{
            display: block;
            position: absolute;
            top: 400px;
            left: -450px;
            img{
                
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
                &:hover{
                    opacity: 0;
                }
            }
        }
        .hover{
            position: absolute;
                top: 400px;
                left: -450px;
            display: block;
            .color-block{
                top:0px;
                width: 300px;
                height: 200px;
                background-color: #008cff;
                border-radius: 15px;
                text-align: center;
                
                    .title{
                        padding-top: 5px;
                        font-size: 20px;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: #f5f1ed;
                    }
                    .subtext{
                        font-size: 16px;
                        color: #f5f1ed;
                    }
                
                h3{
                    font-size: 16px;
                    text-align: left;
                    padding-top: 0px;
                    padding-left: 18px;
                    color: #f5f1ed;
                    a{
                        padding-top: 5px;
                        display: block;
                font-size: 30px;
                line-height: 16px;
                svg{
                    color: #4d4d4e;
                }
                    }
                }
                
                opacity: 0;
                &:hover{
                    
                    animation: fade 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes fade {
                    0% {
                        opacity: 0%;
                    }
                    100% {
                        opacity: 100%;
                    }
                    }
                }
                &:not(:hover){
                    animation: fadeOut 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

        .project-item-5{
        
        .image{
            display: block;
            position: absolute;
            top: 400px;
            left: -50px;
            img{
            margin-bottom: 50px;  //delete this if adding more projects in the future, and replace similarly within bottom row
                
                width: 300px;
                height: 200px;
                object-fit: cover;
                border-radius: 15px;
                &:hover{
                    opacity: 0;
                }
            }
        }
        .hover{
            position: absolute;
                top: 380px; // change this in the future
                left: -50px;
            display: block;
            .color-block{
                top:0px;
                width: 300px;
                height: 200px;
                background-color: #008cff;
                border-radius: 15px;
                
                h3{
                    font-size: 20px;
                    font-weight: 100;
                    padding-top: 85px;
                    padding-left: 80px;
                    color: #f5f1ed;
                        font-family: Georgia, 'Times New Roman', Times, serif;

                }
                
                opacity: 0;
                &:hover{
                    
                    animation: fade 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                    @keyframes fade {
                    0% {
                        opacity: 0%;
                    }
                    100% {
                        opacity: 100%;
                    }
                    }
                }
                &:not(:hover){
                    animation: fadeOut 0.3s ease-in-out;
                    animation-fill-mode: forwards;
                }
            }
        }
    }

    
}