.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 60%;
        max-height: 90%;
    }
    h1{
        color: rgb(249, 249, 249);
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        letter-spacing: 1px;
    }
    
}
h2{
        color: #ffd700;
        font-size: 24px;
        margin: 0;
        font-weight: 500;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        animation: fadeIn 1.5s 3.8s backwards;
}

.flat-button {
    color: #008cff;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #008cff;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1.5s 3.9s backwards;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        background: #008cff;
        color: #37375a;
    }
}
.flat-button-2 {
    color: #008cff;
    font-size: 14px;
    font-weight: 550;
    letter-spacing: 2px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #008cff;
    margin-top: 25px;
    margin-left: 10px;
    float: left;
    animation: fadeIn 1.5s 4.0s backwards;
    white-space: nowrap;

    &:hover {
        cursor: pointer;
        background: #008cff;
        color: #37375a;
    }
}
