.contact-form{
    width: 100%;
    margin-top: 0px;
    margin-left: -160px;

ul {
    padding: 0;
    margin: 0;

    li{
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        overflow: hidden;
        display: block;
        position: relative;
        opacity: 0;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
        clear: both;
    }

    li.half{
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

::placeholder{
    color: #f5f1ed;
}
input[type='text'],
input[type='email'] {
    width: 100%;
    border: 0;
    background: #55558b;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: content-box;
}
textarea {
  width: 100%;
    border: 0;
    background: #55558b;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;  
}
.flat-button {
    color: #4d4d4e;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-decoration: none;
    padding: 8px 8px;
    border: 2px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
    animation: change-color-1 0.2s ease-in-out;
    animation-fill-mode: forwards;
    @keyframes change-color-1 {
        0%{
color: #ffd700;
            background: #37375a;
        }
        100%{
background: #37375a;
            color: #ffd700;
        }
    }
    &:hover {
        cursor: pointer;
        background: #37375a;
        color: #1ecac7;
        animation: change-color-2 0.2s ease-in-out;
        animation-fill-mode: forwards;
        @keyframes change-color-2 {
        0%{
            background: #37375a;
            color: #ffd700;
        }
        100%{
            color: #37375a;
            background: #ffd700;
        }
    }
    }
  }
}